{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-10">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="">Expenses</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            My Expenses
          </li>
        </ol>
      </nav>
    </div>

    <div class="col-md-2">
      <a href="{% url 'add-expenses'%}" class="btn btn-primary add-expense">Add Expense</a>
    </div>
  </div>
</div>
{% include 'partials/_messages.html' %}
{% if expenses.count %}
<div class="container mt-3">
  
  <div class="row">
    <div class="col-md-6">
      <div class="col-ms-2">
        <h5 class="title1"><strong>Top 5 Expense Categories</strong></h5>
      </div>
      <div class="col-ms-10 stats-1 color">
        <canvas id="myChart"></canvas>
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-ms-2">
        <h5 class="title1"><strong>Cummulative Category Comparison</strong></h5>
      </div>
      <div class="col-ms-10 stats-1 color">
        <canvas id="expenseChart"></canvas>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <h5 class="title1"><strong>Export Your Expenses</strong></h5>
  <form id="filterForm" method="GET" action="">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="startDate">Start Date</label>
          <input type="date" class="form-control" id="startDate" name="start_date" value="{{ request.GET.start_date }}">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="endDate">End Date</label>
          <input type="date" class="form-control" id="endDate" name="end_date" value="{{ request.GET.end_date }}">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="category">Category</label>
          <select class="form-control" id="category" name="category">
            <option value="">All Categories</option>
            {% for category in categories %}
              <option value="{{ category.name }}" {% if request.GET.category == category.name|stringformat:"s" %}selected{% endif %}>{{ category.name }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    </div>
    <div class="row mt-3" align="center">
      <div class="col-md-4">
        <button class="btn btn-secondary add-expense1" type="submit" formaction="{% url 'export-csv' %}">Export to CSV</button>
      </div>
      <div class="col-md-4">
        <button class="btn btn-info add-expense1" type="submit" formaction="{% url 'export-excel' %}">Export to EXCEL</button>
      </div>
      <div class="col-md-4">
        <button class="btn btn-success add-expense1" type="submit" formaction="{% url 'export-pdf' %}">Export to PDF</button>
      </div>
    </div>
  </form>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-8">
      <h5 class="title1"><strong>Recent Expenses</strong></h5>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <input type="text" class="form-control" id="searchField" placeholder="Search Expenses">
      </div>
    </div>
  </div>

  <div class="app-table color">
    <table class="table table-stripped table-hover">
      <thead>
        <tr>
          <th>Amount ({{ currency }})</th>
          <th>Category</th>
          <th>Description</th>
          <th>Date</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for expense in page_obj %}
        <tr>
          <td>{{ expense.amount }}</td>
          <td>{{ expense.category }}</td>
          <td>{{ expense.description }}</td>
          <td>{{ expense.date }}</td>
          <td><a href="{% url 'expense-edit' expense.id %}" class="btn btn-secondary btn-sm">Edit</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <p class="no-results color" style="display: none;">No results</p>

  <div class="table-output color">
    <table class="table table-stripped table-hover">
      <thead>
        <tr>
          <th>Amount ({{ currency }})</th>
          <th>Category</th>
          <th>Description</th>
          <th>Date</th>
          <th></th>
        </tr>
      </thead>
      <tbody class="table-body">
      </tbody>
    </table>
  </div>
  <div class="pagination-container">
    Showing page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    <ul class="pagination align-right float-right mr-auto">
      {% if page_obj.has_previous %}
      <li {% if page_obj.number == 1 %} class="page-item active" {% endif %}><a class="page-link" href="?page=1">&laquo; 1</a></li>
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
      {% endif %}
      {% if page_obj.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }} &raquo;</a></li>
      {% endif %}
    </ul>
  </div>

</div>
{% endif %}
<script src="{% static 'js/searchExpenses.js' %}"></script>
<script src="{% static 'js/expensestats1.js' %}"></script>
<script src="{% static 'js/expensestats2.js' %}"></script>
{% endblock content %}
