{% extends 'base_auth.html' %}
{% load static %}
{% block content %}
</script>
<body class="nopadding">
  <div class="container-fluid">
    <div class="col-ms-3 padding-left">
      {% include 'partials/_carousel.html' %}
    </div>
    <div class="col-ms-3 mt-4">
      {% include 'partials/_info.html' %}
    </div>
    <div class="col-ms-3">
      <div class="container-fluid">
      <div class="row">
       <div class="col-md-5">
        <img class="bd-placeholder-img rounded-circle" width="560" height="540" src="{% static 'img/phto6.jpeg'%}" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"></img>
       </div>
        <div class="col-md-7 p-5 mt-5" align="center">
          <div class="card" id="loginform">
            <div class="card-body">
              <div class="card-title py-3">
                <h2 align="center">WELCOME</h2>
                <h4 align="center">Login to your Account</h4>
              </div>
              <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                {% include 'partials/_messages.html' %}
                <div class="form-group">
                  <input
                    type="text"
                    name="username"
                    placeholder="Username"
                    id="usernameField"
                    value="{{ fieldValues.username }}"
                    class="form-control form-control-sm"
                  />
                </div>
                <div class="form-group">
                  <input
                    type="password"
                    name="password"
                    placeholder="Password"
                    class="form-control form-control-sm"
                    id="passwordField"
                  />
                </div>
                <input type="submit" value="Login" class="btn btn-block btn-primary submit-btn" />

              </form>
              <div class="container">
                <span>Dont have an Account?<a href="{% url 'register' %}"> Register Now</a></span><br>
                <span>Forgot Password?<a href="{% url 'request-password' %}"> Reset It</a></span>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    <div class="col-ms-3 width-new p-0">
      {% include 'partials/_footer.html' %}
    </div>
  </div>
</body>
<script src="{% static 'js/register.js' %}"></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
      // Automatically scroll to the form element with id 'loginform'
      const formElement = document.getElementById('loginform');
      if (formElement) {
          formElement.scrollIntoView();
      }
  });
</script>
{% endblock content %}
