{% extends 'base_auth.html' %}
{% load static %}
{% block content %}
</script>
<body class="nopadding">
  <div class="container-fluid">
    <div class="col-ms-3 padding-left">
      {% include 'partials/_carousel.html' %}
    </div>
    <div class="col-ms-3 mt-4">
      {% include 'partials/_info.html' %}
    </div>
    <div class="col-ms-3">
      <div class="container-fluid">
      <div class="row">
       <div class="col-md-5">
        <img class="bd-placeholder-img rounded-circle" width="560" height="540" src="{% static 'img/phto6.jpeg'%}" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"></img>
       </div>
        <div class="col-md-7 p-5 mt-5">
            <div class="card" id="resetform">
              <div class="card-body" align="center">
                <div class="card-title py-3">
                  <h3 align="center" class="h3-new">Password Reset</h3>
                </div>
                <form action="{% url 'request-password' %}" method="post">
                  {% csrf_token %}

                  {% include 'partials/_messages.html' %}
                  <div class="form-group">
                    <input
                      type="email"
                      name="email"
                      placeholder="Email"
                      class="form-control form-control-sm"
                      id="emailField"
                      value="{{values.email}}"
                    />
                  </div>
                  
                  <input type="submit" value="Send Link" class="btn btn-block btn-primary submit-btn mt-5" />
                  
                </form>
                <div class="container mt-5">
                    <span class="">Already have an Account?<a href="{% url 'login' %}"> Login</a></span><br>
                    <span>Don't have an Account?<a href="{% url 'register' %}"> Register</a></span>
                </div>
              </div>
            </div>
          </div>
        </div>
  </div>
</div>
    <div class="col-ms-3 width-new p-0">
      {% include 'partials/_footer.html' %}
    </div>
  </div>
</body>
<script src="{% static 'js/register.js' %}"></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
      // Automatically scroll to the form element with id 'loginform'
      const formElement = document.getElementById('resetform');
      if (formElement) {
          formElement.scrollIntoView();
      }
  });
</script>
{% endblock content %}
