{% load static %}

<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4 round">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="{% static 'img/phto1.jpg'%}" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em"></text></img>
        <h2>Budget Control</h2>
        <p>Everlance comes to your aid in providing updates on your spending relative to your budget. It will ensure that you are not overspending in any category and staying within your financial limits.<br>Make Everlance your Budget Buddy!</p>
        
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="{% static 'img/phto5.jpg'%}" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em"></text></img>
        <h2>Financial Awareness</h2>
        <p>Everlance monitors every transaction, categorize expenses, and see trends over time. Stay aware allows about unnecessary expenditures and recognize patterns to make informed decisions about your finances.</p>
        
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="{% static 'img/phto4.jpeg'%}" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em"></text></img>
        <h2>Savings Growth</h2>
        <p>Experience savings growth with Everlance which will help you identify areas where you can cut back on spending, thereby freeing up more money to put into savings. Now track your expenses easily and work towards your financial goals.</p>
        
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->